@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	background-color: #323737;
	font-family:'SourceSansPro';
}

#loginbox{
	width:700px;
	height:367px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-100px;
	background:url(/img/admin/login.png) no-repeat;
	color:#323737;
}

#login_name{
	position:absolute;
	font-size:18px;
	left:250px;
	top:130px;
}
#login_password{
	position:absolute;
	font-size:18px;
	left:170px;
	top:190px;
}
#login_name label, #login_password label{
	padding:10px;
	font-style:italic;
	font-weight:bold;
}
#login_name input, #login_password input{
	border-width:0 0 2px 0;
	border-bottom-color:#323737;
	width:200px;
	font-style:italic;
	padding:0 10px 0 10px;
}

#login_button{
	width:109px;
	height:34px;
	background:url(/img/admin/login-button.png) no-repeat;
	position:absolute;
	left:438px;
	top:282px;
	cursor:pointer;
}

#header{
	width:100%;
	height:70px;
	position: relative;
}

.onepxline{
	width:100%;
	height:1px;
	background-color:#fff;
}

#mainlogo {
	width:190px;
	height:50px;
	background:url(/img/admin/logo.png) no-repeat center;
	padding:10px;
}

#main_navi{
	position: absolute;
	bottom:0px;
	right:0px;
	font-size:16px;
	color: #fff;
	padding:10px;
}

#main_body{
	width:100%;
	display: block;
}