<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/css/admin/reset.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin/index.css" rel="stylesheet" type="text/css" />
		<script src="/js/admin/jquery-2.1.3.min.js"></script>
		<title>中央控制器</title>
		<script language="javascript">
			$(document).ready(function(){
				height = $(window).height();
				$("#main_body").height(height-85);
			})
			$(window).resize(function(){
				height = $(window).height();
				$("#main_body").height(height-85);
			});
		</script>
	</head>
	<body>
		<div id="header">
			<div id="mainlogo"></div>
			<div id="main_navi">导航&nbsp;&nbsp;|&nbsp;&nbsp;导航&nbsp;&nbsp;|&nbsp;&nbsp;导航</div>
		</div>
		<div class="onepxline"></div>
		<iframe id="main_body" name="main_body" frameborder=0 src="/SMCS/status_show"></iframe>
		<div class="onepxline"></div>
	</body>
</html>
	
